annotated-types==0.7.0
greenlet==3.1.1
mypy==1.11.2
mypy-extensions==1.0.0
pydantic==2.9.2
pydantic_core==2.23.4
python-stdnum==1.20
SQLAlchemy==2.0.35
sqlalchemy-stubs==0.4
typing_extensions==4.12.2
